.container-list {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 636px;
  margin: 50px 0;
  justify-content: space-around;
  
  &:hover {
    transform: scale(1.1);
  }
}

.card {
  background-color: $white-secondary;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 36px;
  width: 198px;
  
  &:hover {
    transform: scale(1.1);
  }

  .card-title {
    color: $black-default;
    font-weight: 700;
    margin-left: 24px;
    font-size: 16px;
    line-height: 16px;
  }
  
  .card-autor {
    color: $grey;
    margin:8px 0 0 24px ;
    font-size: 14px;
    line-height: 14px;
  }
  
  .card-img {
    height: auto;
    max-width: 222px;
    padding: 24px 24px 12px;
    width: 100%;
  }
}
