.container-list {
  display: flex;
  flex-wrap: wrap;
  width: 972px;
  height: 100%;
  margin:70px 0 50px 0;
  justify-content: space-between
}

.card {
  background-color: $white-secondary;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 36px 0 0 ;
  width: 198px;
 
  
  card-h2 {
    color: $black-default;
    font-weight: 700;
    height: 15px;
    margin-left: 24px;
  }


  card-h3 {
    color: $grey;
    height: 14px;
    margin:8px 0 0 24px ;
  }

  
  card-img {
    height: auto;
    max-width: 222px;
    padding: 24px 24px 12px 24px;
    position: relative;
    width: 100%;
  }
}
