// variables
$badge-height: 119px;
$badge-width: 95px;
$breackpoint: 1023px;
$container-height: 416px;
$container-width: 900px;

.container-book {
  background-color: $white-secondary;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  height: $container-height;
  width: $container-width;

  @media(max-width: $breackpoint) {
    flex-direction: column;
    align-items: center;
    height: calc(#{$container-height} + 154px);
    width: calc(#{$container-width} - 564px);
  }
}

.container-img {
  position: relative;
  height: 100%;
  max-width: 309px;
  padding: 24px;
  width: 100%;
  
  @media(max-width: $breackpoint) {
    height: 337px;
    padding: 38px 48px 0;
    width: 336px;
  }
}

.container-detail {
  height: auto;
  padding: 24px;
  width: auto;

  @media(max-width: $breackpoint) {
    height: 233px;
    padding: 21px;
    width: 336px;
  }
}

.badge {
  display: flex;
  height: $badge-height;
  width: $badge-width;
  position: absolute;
  transform: rotate(15deg);
  padding: 10px;
  right: -5px;
  top: 0px;

  @media(max-width: $breackpoint) {
    height: calc(#{$badge-height} - 5%);
    padding: 8px;
    width: calc(#{$badge-width} - 3%);
    right: 20px;
    top: 18px;
  }
}

.header-detail {
  align-items: center;
  border-bottom: 4px solid $green-lemon;
  display: flex;
  padding-bottom: 12px;
  width: 100%;
}

.title-book {
  color: $black-default;
  font-weight: 700;
  margin-left: 8px;
  font-size: 32px;
  line-height: 32px;
}

.title-gender {
  color: $grey;
  font-weight: 700;
  padding-left: 8px;
  line-height: 28px;
  font-size: 28px;
}

.detail-form {
  margin: 36px 0 0 8px;

  @media(max-width: $breackpoint) {
   margin-top: 18px;
  }
}

.detail-item {
  color: $black-default;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.detail-description {
  color: $grey;
  margin-left: 8px;
  font-size: 20px;
  line-height: 20px;
}
