
.container-book {
  background-color: $white-secondary;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  height: 416px;
  width: 900px;


  @media(max-width: 1023px) {
    background-color: $white-secondary;
    box-shadow: 4px 4px 10px 0 $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    width: 336px;
  }
}

.container-img {
  position: relative;
  height: 100%;
  max-width: 309px;
  padding: 24px;
  width: 100%;
  
  
  @media(max-width: 1023px) {
    position: relative;
    height: 337px;
    padding: 38px 48px 0 48px;
    width: 336px;
  }
}

.container-detail {
  height: auto;
  padding: 24px;
  width: auto;


  @media(max-width: 1023px) {
    height: 233px;
    padding: 18px;
    width: 336px;
  }
}

.container-badge {
  display: flex;
  height: 118.57px;
  width: 94.53px;
  position: absolute;
  transform: rotate(15deg);
  right: -3px;
  top: 9px;


  @media(max-width: 1023px) {
    height: auto;
    padding: 18px;
    width: calc(100%-30%);
    right: 10px;
    top: 8px;
  }
}

.header-detail {
  align-items: center;
  border-bottom: 4px solid $green-lemon;
  display: flex;
  padding-bottom: 12px;
  width: 100%;
}

.title-book {
  color: $black-default;
  font-weight: 700;
  margin-left: 8px;
}

.title-gender {
  color: $grey;
  font-weight: 700;
  padding-left: 8px;
}

.detail-form {
  margin: 36px 0 0 8px;


  @media(max-width: 1023px) {
   margin-top: 18px;
  }
}

.detail-item {
  color: $black-default;
  font-weight: 700;
}

.detail-description {
  color: $grey;
  margin-left: 8px;
}
