// variables
$badge-height: 119px;
$badge-width: 95px;
$container-height: 416px;
$container-width: 900px;

.back-arrow {
  display: flex;
  align-items: center;
  width: 1150px;
  height: 20px;
  margin: 33px 0;
  cursor: pointer;

  .text-back-arrow {
    height: 20px;
    width: 59px;
    font-size: 20px;
    line-height: 20px;
  }
  
  &::before {
    content: url(./assets/back-arrow-20.png);
    height: 20px;
    width: 20px;
    z-index: 1;
    margin-right: 12px;
  }
}

.container-book {
  background-color: $white-secondary;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  height: $container-height;
  width: $container-width;
}

.container-img {
  position: relative;
  height: 416px;
  padding: 24px;
  width: 309px;
}

.container-detail {
  height: 100%;
  padding: 24px;
  width: auto;
}

.badge {
  display: flex;
  height: $badge-height;
  width: $badge-width;
  position: absolute;
  transform: rotate(15deg);
  padding: 10px;
  right: -5px;
  top: 0px;
}

.header-detail {
  align-items: center;
  border-bottom: 4px solid $green-lemon;
  display: flex;
  padding-bottom: 12px;
  width: 100%;
}

.title-book {
  color: $black-default;
  font-weight: 700;
  margin-left: 8px;
  font-size: 32px;
  line-height: 32px;
}

.title-gender {
  color: $grey;
  font-weight: 700;
  padding-left: 8px;
  line-height: 28px;
  font-size: 28px;
}

.detail-form {
  margin: 36px 0 0 8px;
}

.detail-item {
  color: $black-default;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.detail-description {
  color: $grey;
  margin-left: 8px;
  font-size: 20px;
  line-height: 20px;
}

@media(max-width: $breakpoint) {
  .container-book {
    flex-direction: column;
    align-items: center;
    height: calc(#{$container-height} + 154px);
    width: calc(#{$container-width} - 564px);
  }

  .back-arrow {
    justify-content: center;
  }

  .container-img {
    height: 337px;
    padding: 38px 48px 0;
    width: 336px;
  }

  .badge {
    height: calc(#{$badge-height} - 5%);
    padding: 8px;
    width: calc(#{$badge-width} - 5%);
    right: 22px;
    top: 18px;
  }
  
  .title-book {
    font-size: 24px;
    line-height: 24px;
  }

  .title-gender {
    font-size: 16px;
    line-height: 16px;
  }

  .detail-form {
    margin-top: 18px;
  }

  .detail-item {
    font-size: 14px;
    line-height: 14px;
  }

  .detail-description {
    font-size: 14px;
    line-height: 14px;
  }
}
