.container-book {
  background-color: $white-secondary;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  height: 416px;
  width: 900px;
}

.container-img {
  position: relative;
  height: 100%;
  max-width: 309px;
  padding: 24px;
  width: 100%;

  .badge {
    display: flex;
    height: 119px;
    width: 95px;
    position: absolute;
    transform: rotate(15deg);
    right: -6px;
    top: 0;
    padding: 11px;
  }
}

.container-detail {
  height: auto;
  padding: 24px;
  width: auto;
}

.badge {
  display: flex;
  height: 118.57px;
  width: 94.53px;
  position: absolute;
  transform: rotate(15deg);
  right: -6px;
  top: 0px;
  padding: 10px;
}

.header-detail {
  align-items: center;
  border-bottom: 4px solid $green-lemon;
  display: flex;
  padding-bottom: 12px;
  width: 100%;
}

.title-book {
  color: $black-default;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-left: 8px;
}

.title-gender {
  color: $grey;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 8px;
}

.detail-form {
  margin: 36px 0 0 8px;
}

.detail-item {
  color: $black-default;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.detail-description {
  color: $grey;
  font-size: 20px;
  line-height: 24px;
  margin-left: 8px;
}
