.background-white {
	align-items: center;
	background-color: $white-secondary;
	display: flex;
	flex-direction: column;
	height: $total-height;
	justify-content: center;
	width: $total-width;
}

.container-grey-col-2 {
	height: 400px;
	width: 300px;
	background-color: $white-primary;
	border-top: 8px solid $blue;
	display: flex;
	flex-direction: column;

	.logo-col-2 {
		height: 70px;
		width: 212px;
		margin: 20px 44px 16px;
	}
	
	.form-group {
		border-bottom: 3px solid $grey;
		padding-bottom: 24px;
		width: 252px;
		margin: 0 24px;
		justify-content: center;

		.label-col-2 {
			color: $black-default;
			font-size: 16px;
			height: 22px;
			line-height: 22px;
			margin-bottom: 8px;
		}

		.input-col-2 {
			height: 32px;
			width: 252px;
			border-radius: 5px;
			background-color: $white-secondary;
			margin-bottom: 24px;
		}
	}

	.btn {
		height: 32px;
		width: 252px;
		text-align: center;
		border-radius: 5px;
	}

	.btn-green {
		@extend .btn;
		background-color: $green-lemon;
		color: $white-secondary;
		cursor: pointer;

		&:hover {
			background-color: $dark-green;
			color: $white-secondary;
		}
	}

	.btn-inverted-green {
		@extend .btn;
		background-color: $white-secondary;
		border: 2px solid;
		box-sizing: border-box;
		color: $green-lemon;
		margin: 16px 24px 0;
		cursor: pointer;

		&:hover {
			background-color: $dark-green;
			color: $white-secondary;
		}
	}
}
