.background-login {
  align-items: center;
  background-color: $white-secondary;
  display: flex;
  flex-direction: column;
  height: 768px;
  justify-content: center;
  width: 1366px;
}

.container-login {
	height: 400px;
  width: 300px;
  background-color: $white-primary;
	border-top: 8px solid $blue;
	display: flex;
	flex-direction: column;

	.login-logo {
		height: 70px;
		width: 212px;
		margin: 20px 44px 0 44px;
	}
	
	label {
		color: $black-default;
		font-size: 16px;
		height: 22px;
		line-height: 22px;
		margin: 16px 24px 8px 24px;
	}

	input {
		height: 32px;
		width: 252px;
		border-radius: 5px;
		background-color: $white-secondary;
		margin: 0 24px;
	}

	.btn-green {
		height: 32px;
		width: 252px;
		margin: 24px 24px 0;
		background-color: $green-lemon;
		text-align: center;
		border-radius: 5px;
		color: $white-secondary;
	}

	hr {
		margin: 16px 24px 0 24px;
		height: 3px;
  	width: 252px;
		background-color: $grey;
	}

	.btn-inverted-green {
		background-color: $white-secondary;
		box-sizing: border-box;
		border: 2px solid $green-lemon;
		border-radius: 5px;
		color: $green-lemon;
		height: 32px;
		margin: 16px 24px 0;
		text-align: center;
		width: 252px;
	}
}
