// variables
$breackpoint: 1023px;
$total-height: 768px;
$total-width: 1366px;

.container {
  align-items: center;
  background-color: $white-primary;
  display: flex;
  height: $total-height;
  justify-content: center;
  width: $total-width;

  @media(max-width: $breackpoint) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $breackpoint;
    height: calc(#{$total-height} - 101px);
    width: calcl(#{$total-width} - 990px);
  }
}

h2 {
  font-size:  32px;
  line-height: 32px;

  @media(max-width: $breackpoint) {
    font-size: 24px;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 24px;

  @media(max-width: $breackpoint) {
    font-size: 16px;
    line-height: 16px;
  }
}

h4 {
  font-size: 20px;
  line-height: 20px;

  @media(max-width: $breackpoint) {
    font-size: 14px;
    line-height: 14px;
  }
}

h5 {
  font-size: 16px;
  line-height: 16px;
}

h6 {
  font-size: 14px;
  line-height: 14px;
}

.img {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 70px;
  width: 1366px;
  background-color: $white-secondary;
  box-shadow: 0 4px 10px 0 $shadow;
  border-top: 4px solid $blue;
  display: flex;
  position: fixed;
  z-index: 100;

  .nav-logo { 
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: flex-start;
    width: 212px;
    margin-left: 246px;
  }

  .nav-logout {
    display: flex;
    align-items: center;
    margin-left: 39%;

    nav-h4 {
      color: $black-default;
    }
  }
}
