.container {
  align-items: center;
  background-color: $white-primary;
  display: flex;
  flex-direction: column;
  height: $total-height;
  width: $total-width;
  padding-top: 50px;
}

.img {
  height: 100%;
  width: 100%;
}

.navbar {
  align-items: flex-start;
  background-color: $white-secondary;
  border-top: 4px solid $blue;
  box-shadow: 0 4px 10px 0 $shadow;
  display: flex;
  height: 70px;
  justify-content: space-around;
  position: fixed;
  width: $total-width;
  z-index: 1;

  .nav-logo { 
    height: 70px;
    width: 212px;
  }

  .nav-logout {
    color: $black-default;
    font-size: 18px;
    line-height: 18px;
  }
}

@media(max-width: $breakpoint) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 707px;
    width: 376px;
  }
}
