.container {
  align-items: center;
  background-color: $white-primary;
  display: flex;
  height: 768px;
  justify-content: center;
  width: 1366px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

h3 {
  line-height: 28px;
  font-size: 28px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  line-height: 16px;
}

h6 {
  font-size: 14px;
  line-height: 14px;
}

.img {
  height: 100%;
  width: 100%;
}

.navbar {
  align-items: center;
  background-color: $white-secondary;
  border-top: 4px solid $blue;
  box-shadow: 0 4px 10px 0 $shadow;
  display: flex;
  height: 70px;
  justify-content: space-around;
  position: fixed;
  width: 1366px;
  z-index: 1;

  .nav-logo { 
    height: 70px;
    width: 212px;
  }
}
