// variables
$breakpoint: 1023px;
$total-height: 768px;
$total-width: 1366px;

// colors
$black-default: #000;
$blue: #00ADEE;
$green-lemon: #BED23C;
$dark-green: #74830f;
$grey: #828282;
$red: #FF0000;
$shadow:  #0008;
$white-primary: #F4F4F4;
$white-secondary:  #FFF;
